<!DOCTYPE html>
<html>
<head>
<title>Equality Measures 2030</title>
<link href="./style.css" type="text/css" rel="stylesheet">
</head>
<body>
	<div class="top">
	<img src="images/logo.jpg"/>
	<p><br><br><br><br></p>
    </div>
    <img
src="map.jpg"
border="0" usemap="#worldmap"
alt="world" width="1410" positon=fixed/>

<div>
<map name="worldmap" id="worldmap">


<area
shape="rect"
coords="150,240,250,260"
href ="https://en.wikipedia.org/wiki/Gender_inequality_in_El_Salvador"
target ="_blank"
alt="El Salvador" />

<area
shape="rect"
coords="285,250,370,270"
href ="https://en.wikipedia.org/wiki/Women%27s_rights_in_Colombia"
target ="_blank"
alt="Colombia" />

<area
shape="rect"
coords="440,245,510,265"
href ="https://en.wikipedia.org/wiki/Women_in_Senegal"
target ="_blank"
alt="Senegal"
color="blue" />

<area
shape="rect"
coords="587,290,645,310"
href ="/Users/adela/Documents/maps/kenya.html"
target ="_blank"
alt="Kenya" 
color="blue"/>

<area
shape="rect"
coords="710,203,758,223"
href ="/Users/adela/Documents/maps/kenya.html"
target ="_blank"
alt="India" 
color="blue"/>

<area
shape="rect"
coords="788,303,875,323"
href ="/Users/adela/Documents/maps/kenya.html"
target ="_blank"
alt="India" 
color="blue"/>
</map>

<footer class="site-footer">
  <div>
<div style="float:left;"><img src="images/logo.jpg" width="200" height="100" /></div>
<div class="bottomscript" style="float:center;"><p><br></p><a href="http://www.equalmeasures2030.org" target="_blank"> <font color="white">&nbsp;About Equality Measures 2030&nbsp;</font></a><a href="http://www.equalmeasures2030.org/#contact-us"><font color="white"> &nbsp;Contact us&nbsp;</font> </a>
</div>
</div>
</footer>
</body>
</html>