body{
    background-image: url("images/topbackground.jpg");
}



#banner .content h1 {
  border: 3px solid #07509B;
  position: relative;
  top: 80px;
  width: 400px;
  margin: 0 auto;
  color: white;
  padding: 10px;
  background: #07509B;
}
#nav {
  top: 100px;
  color: white;
  position: relative;
  text-align: center;
  color: white;
}

#nav h1{
  border: 2px solid #700370;
  color: white;
  background-color:#700370;
  width: 300px;
  text-align: center;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 100px; 
}
.site-footer {
  background: #55BAB2;
  font-family: Arial;
  font-size: 25px;
}
a{ text-decoration: none;}
a:hover{txt-decoration:underline;}
