<header class="site-header">

    <div class="wrapper">
    
    <div class="menu" >
  <select id="country" class="selects" name="Country" onchange="changecountry()">
    <option selected="Select a Country">Select a Country</option>
    <option value="EL SALVADOR">EL SALVADOR</option>
    <option value="Colombia">COLOMBIA</option>
    <option value="SENEGAL">SENEGAL</option>
    <option value="KENYA">KENYA</option>
    <option value="INDIA">INDIA</option>
    <option value="INDONESIA">INDONESIA</option>
  </select>
  <select id="indicator" class="selects" name="Indicator" onchange="changeindicator()">
    <option selected="Select a Indicator">Select a Indicator</option>
    <option value="Married women currently using any method of contraception">Married women currently using any method of contraception</option>
    <option value="Married women currently using any modern method of contraception">Married women currently using any modern method of contraception</option>
    <option value="Unmet need for family planning">Unmet need for family planning</option>
    <option value="Demand for family planning satisfied by modern methods">Demand for family planning satisfied by modern methods</option>
    <option value="Pregnancy-related mortality ratio">Pregnancy-related mortality ratio</option>
    <option value="Maternal mortality ratio">Maternal mortality ratio</option>
    <option value="Women circumcised (FGC)">Women circumcised (FGC)</option>
    <option value="Physical or sexual violence committed by husband/partner">Physical or sexual violence committed by husband/partner</option>
    <option value="Women who are literate">Women who are literate</option>
    <option value="Women with secondary or higher education">Women with secondary or higher education</option>
    <option value="Women first married by exact age 15">Women first married by exact age 15</option>
    <option value="Women first married by exact age 18">Women first married by exact age 18</option>
    <option value="Married women participating in all three decisions">Married women participating in all three decisions</option>
    <option value="Married women who disagree with all the reasons justifying wife beating">Married women who disagree with all the reasons justifying wife beating</option>
    <option value="Sexual violence before exact age 18">Sexual violence before exact age 18</option>
    <option value="Median years of education completed [Women]">Median years of education completed [Women]</option>
    <option value="Women who worked in the last 12 months and are currently">Women who worked in the last 12 months and are currently</option>
    <option value="Net primary school attendance rate: Female">Net primary school attendance rate: Female</option>
    <option value="Wife beating justified for at least one specific reason [Women]">Wife beating justified for at least one specific reason [Women]</option>
    <option value="No antenatal care">No antenatal care</option>
    <option value="General fertility rate">General fertility rate</option>
    <option value="Women giving birth by age 15">Women giving birth by age 15</option>
    <option value="Women giving birth by age 18">Women giving birth by age 18</option>
    <option value="Women who decide themselves how their earnings are used">Women who decide themselves how their earnings are used</option>
    <option value="Women who decide jointly with partner how their earnings are used">Women who decide jointly with partner how their earnings are used</option>
    <option value="Wife earns more than husband">Wife earns more than husband</option>
    <option value="ICF International, 2015. The DHS Program STATcompiler. Funded by USAID. https://www.statcompiler.com. November 16 2017">ICF International, 2015. The DHS Program STATcompiler. Funded by USAID. https://www.statcompiler.com. November 16 2017</option>
  </select>
  <select id="age_group" class="selects" name="Age Groups">
    <option selected="Age Groups">Age Groups</option>
    <!-- <option value="15-19">15-19</option>
    <option value="20-25">20-25</option>
    <option value="25-30">25-30</option>
    <option value="30-35">30-35</option> -->
    
  </select>
  <select id="year" class="selects" name="Year">
    <option selected="Year">Year</option>
    <!-- <option value="2017">2017</option>
    <option value="2016">2016</option>
    <option value="2015">2015</option>
    <option value="2014">2014</option>
    <option value="2013">2013</option>
    <option value="2012">2012</option>
    <option value="2011">2011</option>
    <option value="2010">2010</option>
    <option value="2009">2009</option>
    <option value="2008">2008</option>
    <option value="2007">2007</option>
    <option value="2006">2006</option> -->
  </select>
  <button id="searchbutton" class="selects" type="button" onclick="loadDoc()">Search!</button>
</div>
  
  <script>
   /* function addCountry() {
      var x = document.getElementById("country");
      var rawFile = new XMLHttpRequest();
      rawFile.open("GET", "file:///C:/Users/Debjit/codeforgood/team-21/country.txt", false);
      var option = document.createElement("option");
      option.text = "Kiwi";
      x.add(option);
    }  */

   	function changecountry() {
   		var Indicator = document.getElementById("indicator").value
   		if(Indicator != "Select a Indicator"){
   			var xhttp = new XMLHttpRequest();
      		xhttp.onreadystatechange = function() {
        		if (this.readyState == XMLHttpRequest && this.status == 200) {
          			document.getElementById("searchbutton").innerHTML = this.responseText;
        		}
      		};
      		var Country = document.getElementById("country").value
      		xhttp.open("GET","http://localhost:5000/possibleyears/"+Country+"/"+Indicator, false);
      		xhttp.setRequestHeader( 'Access-Control-Allow-Headers', '*' );
      		xhttp.setRequestHeader( 'Content-Type', 'application/javascript' );
      		xhttp.setRequestHeader( 'Access-Control-Allow-Origin', '*' );
      		xhttp.send();

      		var js = JSON.parse(xhttp.responseText);

      		var x = document.getElementById("year");

      		for(var i=0 ; i < js.length; i++){
      			var option = document.createElement("OPTION");
        		option.setAttribute("value", js[i]);
        		var t = document.createTextNode(js[i]);
        		option.appendChild(t);
        		option.text = js[i];
        		x.appendChild(option);
      		}
   		}
   	}

   	function changeindicator() {
   		var Country = document.getElementById("country").value
   		if(Country != "Select a Country"){
   			var xhttp = new XMLHttpRequest();
      		xhttp.onreadystatechange = function() {
        		if (this.readyState == XMLHttpRequest && this.status == 200) {
          			document.getElementById("searchbutton").innerHTML = this.responseText;
        		}
      		};
      		var Indicator = document.getElementById("indicator").value
      		xhttp.open("GET","http://localhost:5000/possibleyears/"+Country+"/"+Indicator, false);
      		xhttp.setRequestHeader( 'Access-Control-Allow-Headers', '*' );
      		xhttp.setRequestHeader( 'Content-Type', 'application/javascript' );
      		xhttp.setRequestHeader( 'Access-Control-Allow-Origin', '*' );
      		xhttp.send();

      		var js = JSON.parse(xhttp.responseText);

      		var x = document.getElementById("year");

      		for(var i=0 ; i < js.length; i++){
      			var option = document.createElement("OPTION");
        		option.setAttribute("value", js[i]);
        		var t = document.createTextNode(js[i]);
        		option.appendChild(t);
        		option.text = js[i];
        		x.appendChild(option);
      		}
   		}
   	}

    function loadDoc() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == XMLHttpRequest && this.status == 200) {
          document.getElementById("searchbutton").innerHTML = this.responseText;
        }
      };
      var Country = document.getElementById("country").value
      var Indicator = document.getElementById("indicator").value
      var Age_group = document.getElementById("age_group").value
      var Year = document.getElementById("year").value

      console.log(Country)
      console.log(Indicator)
      console.log(Age_group)
      console.log(Year)
      xhttp.open("GET","http://localhost:5000/readdata/"+Country+"/"+Indicator+"/"+Age_group+"/"+Year, false);
      xhttp.setRequestHeader( 'Access-Control-Allow-Headers', '*' );
      xhttp.setRequestHeader( 'Content-Type', 'application/javascript' );
      xhttp.setRequestHeader( 'Access-Control-Allow-Origin', '*' );
      xhttp.send();
      console.log(xhttp.response);
      console.log(xhttp.responseText);
      var js = JSON.parse(xhttp.responseText);

     console.log(js);
    }
  </script>
    </div>
    
</header>